<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glass-container">
    <h2 style="color: white; font-weight: bold;">Create Account</h2>

    <form (submit)="signUp()">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="user.name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-input [(ngModel)]="user.dob" name="dob" type="date" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="user.phone" name="phone" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea [(ngModel)]="user.address" name="address"></ion-textarea>
      </ion-item>

      <ion-button expand="full" type="submit" color="primary">Sign Up</ion-button>
    </form>

    <ion-button expand="full" fill="outline" class="google-btn" (click)="signUpWithGoogle()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Continue with Google
    </ion-button>

    <p style="color: white; margin-top: 10px;">
      Already have an account? <a routerLink="/login" style="color: #ffcc00;">Log in</a>
    </p>
  </div>
</ion-content>
