<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <h3><a rel="noopener noreferrer" href="/login">Sign In</a></h3>
      <h3><a rel="noopener noreferrer" href="/signup">Sign Up</a></h3>
      <h3><a rel="noopener noreferrer" href="/notification">Notifications</a></h3>
      <h3><a rel="noopener noreferrer" href="/profile">Profile</a></h3>
      <h3><a rel="noopener noreferrer" href="/doctor-dashboard">Doctor Dashboard</a></h3>
      <h3><a rel="noopener noreferrer" href="/admin-dashboard">Admin Dashboard</a></h3>
      <h3><a rel="noopener noreferrer" href="/patient-dashboard">Patient Dashboard</a></h3>
      <h3><a rel="noopener noreferrer" href="/send-medical-docs">Upload docs</a></h3>
  </div>
</ion-content>
